<!--<script id="product" type="text/html">-->
<div class="div-friend product {{size}}">
    <div class='row'>
        <div class='col-sm-4'>
            <a href="{{product.DetailPageURL}}" title="product title" target='_blank'>
                <img src="http://graph.facebook.com/{{friend.id}}/picture" alt="product title" data-img="product-2" class="img-responsive">
            </a>
        </div>
        <div class='col-sm-8'>
            <p class="name" style='overflow:hidden; width:inherit;'>
                <a href="{{product.DetailPageURL}}" target='_blank'>{{friend.name}}</a>
            </p>
        </div>
    </div>
   <!-- <a href="{{product.DetailPageURL}}" class="btn btn-bottom btn-atc qadd" target='_blank'>Purchase on Amazon</a>-->
</div>

<!--</script>-->