<div class="col-xs-12 product">
    <div class='row'>
        <div class="col-sm-12">
            <div class="content clearfix ">
                <div class="content inner">

                    <h1>Welcome to Holiday Helper</h1>
                    <h3>We help you pick out holiday gifts for your friends and family</h3>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">

        <div class="col-sm-8">
            <div class="content inner">
                <p class="lead">Picking out gifts for your friends and family is hard. Let us help by giving you recommendations based on your loved ones social profiles.</p>

                <p class="lead">We search through their interests and the stuff they like such as music and TV shows to help you pick out the very best gifts</p>
            </div> <!-- //end content -->
        </div> <!-- //end span8 -->
    </div> <!-- //end row -->

    <hr>


</div>